<header>
  <p-toolbar [style]="{ padding: '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
      <div class="flex items-center justify-center gap-5">
        <h2 class="font-bold text-2xl">Wearables Shop</h2>
        <div>
          <p-menubar [model]="items" />
        </div>
      </div>
    </ng-template>
    <ng-template #end>
      <div *ngIf="isLogged && isAdmin">
        <p-button
          icon="pi pi-sign-out"
          severity="danger"
          (onClick)="logout()"
        />
      </div>
    </ng-template>
  </p-toolbar>
</header>
