<div class="px-4 sm:px-6 lg:px-10 py-5">
  <p-card>
    <p-fluid class="flex py-2 gap-4">
      <p-inputgroup>
        <input
          pInputText
          placeholder="Pesquisar"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange($event)"
          (keyup.enter)="onFilterApply()"
        />
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-search"
            severity="secondary"
            (click)="onFilterApply()"
          />
        </p-inputgroup-addon>
      </p-inputgroup>

      <p-select
        [options]="categories"
        [(ngModel)]="selectedCategories"
        (onChange)="onCategoryChange($event)"
        placeholder="Filtro"
        [showClear]="true"
        class="w-full md:w-56"
      />

      <p-button label="Buscar" severity="contrast" (click)="onFilterApply()" />
    </p-fluid>
  </p-card>
</div>
