<div class="m-15">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col justify-center"
  >
    <h2 class="font-bold text-2xl mb-10">Cadastro de Produtos</h2>

    <div class="grid grid-cols-2 gap-5">
      <div class="flex flex-col">
        <label>Nome</label>
        <input type="text" pInputText formControlName="name" />
      </div>
      <div class="flex flex-col">
        <label>Categoria</label>
        <input type="text" pInputText formControlName="category" />
      </div>
    </div>

    <div class="grid grid-cols-4 gap-5">
      <div class="flex flex-col gap-2">
        <label>Preço</label>
        <p-inputnumber
          formControlName="price"
          inputId="currency-brl"
          mode="currency"
          currency="BRL"
          locale="pt-br"
          class="h-10.5"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label>Desconto</label>
        <p-inputnumber
          formControlName="discount"
          inputId="currency-brl"
          mode="currency"
          currency="BRL"
          locale="pt-br"
          class="h-10.5"
        />
      </div>
    </div>
    <div class="flex">
      <div class="flex flex-col gap-2">
        <label>Estoque</label>
        <!-- ====== INPUT SIZE P ===== -->
        <div class="flex items-center gap-3">
          <p-floatlabel variant="on">
            <p-inputnumber
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              class="h-10.5"
              formControlName="sizeP"
              min="0"
            >
              <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
              </ng-template>
              <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
              </ng-template>
            </p-inputnumber>
            <label for="on_label">P</label>
          </p-floatlabel>
        </div>
      </div>
      <!-- ====== INPUT SIZE M ===== -->
      <div class="flex items-center gap-3 mt-8 ml-3">
        <p-floatlabel variant="on">
          <p-inputnumber
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            class="h-10.5"
            formControlName="sizeM"
            min="0"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <label for="on_label">M</label>
        </p-floatlabel>
      </div>
      <!-- ====== INPUT SIZE G ===== -->
      <div class="flex items-center gap-3 mt-8 ml-3">
        <p-floatlabel variant="on">
          <p-inputnumber
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            class="h-10.5"
            formControlName="sizeG"
            min="0"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <label for="on_label">G</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-col">
      <label>Descrição</label>
      <input type="text" pInputText formControlName="description" />
    </div>
    <div class="flex mt-3 justify-between">
      <p-fileupload
        #fu
        mode="basic"
        chooseLabel="Browse"
        chooseIcon="pi pi-upload"
        accept="image/*"
        maxFileSize="1000000"
        class="col-start-1"
      />
      <p-button label="Cadastrar" type="submit" styleClass="p-button-primary" />
    </div>
  </form>
</div>
